<div class="side-menu">
  <div class="side-menu-content">
      <div class="side-menu-logo">
          <i class="fas fa-user-astronaut"></i>
      </div>
      <b class="sign-in">
          Welcome
          <ng-container *ngIf="isLoggedIn; else platformName">{{user?.email}}</ng-container>
          <ng-template #platformName>to PCHao Blog Platform</ng-template>
          !
      </b>
      <br>
      <ul>
        <li><a (click)="goToAllPost()">All Posts</a></li>
        <li><a (click)="goToMyBlog()">My Blog</a></li>
      </ul>
      <br>
  </div>
</div>
