<h1>Posts List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Published Time</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= post.text %></td>
      <td><%= post.created_at.strftime("%B %d, %Y") %></td>
    </tr>
  <% end %>

  <%= link_to 'New Post', new_post_path %>
</table>